<div class="usuario-container">
  <h2>Crear nuevo usuario</h2>

  <div class="form-group">
    <label>Nombre de usuario:</label>
    <input [(ngModel)]="username" type="text" placeholder="Ej: nayal_admin">
  </div>

  <div class="form-group">
    <label>Contraseña:</label>
    <input [(ngModel)]="contrasena" type="password" placeholder="********">
  </div>

  <div class="form-group">
    <label>Rol:</label>
    <select [(ngModel)]="idRol">
      <option value="0" disabled>Selecciona un rol</option>
      <option value="1">Administrador</option>
      <option value="2">Auditor</option>
      <option value="3">Cliente B2C</option>
      <option value="4">Coleccionista Platinum</option>
      <option value="5">Diseñador I+D</option>
      <option value="6">Gerente de creación</option>
      <option value="7">Gerente de Inventario</option>
      <option value="8">Gerente de Ventas</option>
      <option value="9">Operador de Logística</option>
      <option value="10">Retail Partner B2B</option>
      <option value="11">Vendedor</option>
    </select>
  </div>

  <button (click)="registrarUsuario()" class="btn-guardar">
    Guardar Usuario
  </button>
</div>